# Database for the records which support 2
# colored crossmark overlays

record( longout, "$(P)$(R)Cross1X" )
{
	field( OUT,  "$(P)$(R)Cross1X_RBV PP MS" )
	field( PINI, "YES" )
	info( autosavefields, "VAL DESC" )
}

record( longin, "$(P)$(R)Cross1X_RBV" )
{
}

record( longout, "$(P)$(R)Cross1Y" )
{
	field( OUT,  "$(P)$(R)Cross1Y_RBV PP MS" )
	field( PINI, "YES" )
	info( autosavefields, "VAL DESC" )
}

record( longin, "$(P)$(R)Cross1Y_RBV" )
{
}

record( longout, "$(P)$(R)Cross1Color" )
{
	field( OUT,  "$(P)$(R)Cross1Color_RBV PP MS" )
	field( PINI, "YES" )
	info( autosavefields, "VAL DESC" )
}

record( longin, "$(P)$(R)Cross1Color_RBV" )
{
}

record( longout, "$(P)$(R)Cross2X" )
{
	field( OUT,  "$(P)$(R)Cross2X_RBV PP MS" )
	field( PINI, "YES" )
	info( autosavefields, "VAL DESC" )
}

record( longin, "$(P)$(R)Cross2X_RBV" )
{
}

record( longout, "$(P)$(R)Cross2Y" )
{
	field( OUT,  "$(P)$(R)Cross2Y_RBV PP MS" )
	field( PINI, "YES" )
	info( autosavefields, "VAL DESC" )
}

record( longin, "$(P)$(R)Cross2Y_RBV" )
{
}

record( longout, "$(P)$(R)Cross2Color" )
{
	field( OUT,  "$(P)$(R)Cross2Color_RBV PP MS" )
	field( PINI, "YES" )
	info( autosavefields, "VAL DESC" )
}

record( longin, "$(P)$(R)Cross2Color_RBV" )
{
	info( autosavefields, "DESC" )
}

