###################################################################
#  These records contain the basic statistics                     #
###################################################################
record( bo, "$(P)$(R)ComputeStatistics" )
{
	field( PINI, "YES" )
	field( DTYP, "asynInt32" )
	field( OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_COMPUTE_STATISTICS" )
	field( VAL,  "1" )
	field( ZNAM, "No" )
	field( ONAM, "Yes" )
}

record( bi, "$(P)$(R)ComputeStatistics_RBV" )
{
	field( DTYP, "asynInt32" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_COMPUTE_STATISTICS" )
	field( ZNAM, "No" )
	field( ONAM, "Yes" )
	field( ZSV,  "NO_ALARM" )
	field( OSV,  "MINOR" )
	field( SCAN, "I/O Intr" )
}

record( longout, "$(P)$(R)BgdWidth" )
{
	field( PINI, "YES" )
	field( DTYP, "asynInt32" )
	field( OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_BGD_WIDTH" )
	field( VAL,  "1" )
	info( autosaveFields, "VAL" )
}

record( longin, "$(P)$(R)BgdWidth_RBV" )
{
	field( DTYP, "asynInt32" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_BGD_WIDTH" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)MinValue_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_MIN_VALUE" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)MaxValue_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_MAX_VALUE" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)MeanValue_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_MEAN_VALUE" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)Sigma_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_SIGMA_VALUE" )
	field( PREC, "1" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)Total_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_TOTAL" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)Net_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_NET" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)MinX_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_MIN_X" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)MinY_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_MIN_Y" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)MaxX_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_MAX_X" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)MaxY_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_MAX_Y" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

###################################################################
#  These records control whether centroid statistics are computed #
###################################################################
record( bo, "$(P)$(R)ComputeCentroid" )
{
	field( PINI, "YES" )
	field( DTYP, "asynInt32" )
	field( OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_COMPUTE_CENTROID" )
	field( VAL,  "0" )
	field( ZNAM, "No" )
	field( ONAM, "Yes" )
	info( autosaveFields, "VAL" )
}

record( bi, "$(P)$(R)ComputeCentroid_RBV" )
{
	field( DTYP, "asynInt32" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_COMPUTE_CENTROID" )
	field( ZNAM, "No" )
	field( ONAM, "Yes" )
	field( ZSV,  "NO_ALARM" )
	field( OSV,  "MINOR" )
	field( SCAN, "I/O Intr" )
}

###################################################################
#  These records contain the centroid statistics                  #
###################################################################
record( ao, "$(P)$(R)CentroidThreshold" )
{
    field( PINI, "YES" )
    field( DTYP, "asynFloat64" )
    field( OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_CENTROID_THRESHOLD" )
    field( VAL,  "1" )
	info( autosaveFields, "VAL" )
}
record( ai, "$(P)$(R)CentroidThreshold_RBV" )
{
    field( DTYP, "asynFloat64" )
    field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_CENTROID_THRESHOLD" )
    field( VAL,  "0" )
    field( SCAN, "I/O Intr" )
}

record( ai, "$(P)$(R)CentroidX_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_CENTROIDX_VALUE" )
	field( PREC, "1" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)CentroidY_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_CENTROIDY_VALUE" )
	field( PREC, "1" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)SigmaX_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_SIGMAX_VALUE" )
	field( PREC, "1" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)SigmaY_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_SIGMAY_VALUE" )
	field( PREC, "1" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( ai, "$(P)$(R)SigmaXY_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_SIGMAXY_VALUE" )
	field( PREC, "3" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}


###################################################################
#  These records control profiles                                 #
###################################################################
record( bo, "$(P)$(R)ComputeProfiles" )
{
	field( PINI, "YES" )
	field( DTYP, "asynInt32" )
	field( OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_COMPUTE_PROFILES" )
	field( VAL,  "0" )
	field( ZNAM, "No" )
	field( ONAM, "Yes" )
	info( autosaveFields, "VAL" )
}

record( bi, "$(P)$(R)ComputeProfiles_RBV" )
{
	field( DTYP, "asynInt32" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_COMPUTE_PROFILES" )
	field( ZNAM, "No" )
	field( ONAM, "Yes" )
	field( ZSV,  "NO_ALARM" )
	field( OSV,  "MINOR" )
	field( SCAN, "I/O Intr" )
}

record( longin, "$(P)$(R)ProfileSizeX_RBV" )
{
	field( DTYP, "asynInt32" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_PROFILE_SIZE_X" )
	field( SCAN, "I/O Intr" )
}

record( longin, "$(P)$(R)ProfileSizeY_RBV" )
{
	field( DTYP, "asynInt32" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_PROFILE_SIZE_Y" )
	field( SCAN, "I/O Intr" )
}

record( longout, "$(P)$(R)CursorX" )
{
	field( PINI, "YES" )
	field( DTYP, "asynInt32" )
	field( OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_CURSOR_X" )
	field( VAL,  "256" )
	info( autosaveFields, "VAL" )
}

record( longin, "$(P)$(R)CursorX_RBV" )
{
	field( DTYP, "asynInt32" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_CURSOR_X" )
	field( SCAN, "I/O Intr" )
}

record( longout, "$(P)$(R)CursorY" )
{
	field( PINI, "YES" )
	field( DTYP, "asynInt32" )
	field( OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_CURSOR_Y" )
	field( VAL,  "256" )
	info( autosaveFields, "VAL" )
}

record( longin, "$(P)$(R)CursorY_RBV" )
{
	field( DTYP, "asynInt32" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_CURSOR_Y" )
	field( SCAN, "I/O Intr" )
}

record( waveform, "$(P)$(R)ProfileAverageX_RBV" )
{
	field( DTYP, "asynFloat64ArrayIn" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_PROFILE_AVERAGE_X" )
	field( FTVL, "DOUBLE" )
	field( NELM, "$(XSIZE)" )
	field( SCAN, "I/O Intr" )
}

record( waveform, "$(P)$(R)ProfileAverageY_RBV" )
{
	field( DTYP, "asynFloat64ArrayIn" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_PROFILE_AVERAGE_Y" )
	field( FTVL, "DOUBLE" )
	field( NELM, "$(YSIZE)" )
	field( SCAN, "I/O Intr" )
}

record( waveform, "$(P)$(R)ProfileThresholdX_RBV" )
{
	field( DTYP, "asynFloat64ArrayIn" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_PROFILE_THRESHOLD_X" )
	field( FTVL, "DOUBLE" )
	field( NELM, "$(XSIZE)" )
	field( SCAN, "I/O Intr" )
}

record( waveform, "$(P)$(R)ProfileThresholdY_RBV" )
{
	field( DTYP, "asynFloat64ArrayIn" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_PROFILE_THRESHOLD_Y" )
	field( FTVL, "DOUBLE" )
	field( NELM, "$(YSIZE)" )
	field( SCAN, "I/O Intr" )
}

record( waveform, "$(P)$(R)ProfileCentroidX_RBV" )
{
	field( DTYP, "asynFloat64ArrayIn" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_PROFILE_CENTROID_X" )
	field( FTVL, "DOUBLE" )
	field( NELM, "$(XSIZE)" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( waveform, "$(P)$(R)ProfileCentroidY_RBV" )
{
	field( DTYP, "asynFloat64ArrayIn" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_PROFILE_CENTROID_Y" )
	field( FTVL, "DOUBLE" )
	field( NELM, "$(YSIZE)" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( waveform, "$(P)$(R)ProfileCursorX_RBV" )
{
	field( DTYP, "asynFloat64ArrayIn" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_PROFILE_CURSOR_X" )
	field( FTVL, "DOUBLE" )
	field( NELM, "$(XSIZE)" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

record( waveform, "$(P)$(R)ProfileCursorY_RBV" )
{
	field( DTYP, "asynFloat64ArrayIn" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_PROFILE_CURSOR_Y" )
	field( FTVL, "DOUBLE" )
	field( NELM, "$(YSIZE)" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}


###################################################################
#  These records set the HOPR and LOPR values for the cursor      #
#  and size to the maximum for the input array                    #
###################################################################

record( longin, "$(P)$(R)MaxSizeX" )
{
    field( INP,  "$(P)$(R)ProfileSizeX_RBV CP" )
    field( FLNK, "$(P)$(R)SetXHOPR.PROC PP" )
}

record( dfanout, "$(P)$(R)SetXHOPR" )
{
    field( DOL,  "$(P)$(R)MaxSizeX NPP" )
    field( OMSL, "closed_loop" )
    field( OUTA, "$(P)$(R)CursorX.HOPR NPP" )
}

record( longin, "$(P)$(R)MaxSizeY" )
{
    field( INP,  "$(P)$(R)ProfileSizeY_RBV CP" )
    field( FLNK, "$(P)$(R)SetYHOPR.PROC PP" )
}

record( dfanout, "$(P)$(R)SetYHOPR" )
{
    field( DOL,  "$(P)$(R)MaxSizeY NPP" )
    field( OMSL, "closed_loop" )
    field( OUTA, "$(P)$(R)CursorY.HOPR NPP" )
}


###################################################################
#  These records control whether projections and COM are computed
###################################################################
record( bo, "$(P)$(R)ComputeProjections" )
{
	field( PINI, "YES" )
	field( DTYP, "asynInt32" )
	field( OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_COMPUTE_PROJ" )
	field( VAL,  "0" )
	field( ZNAM, "No" )
	field( ONAM, "Yes" )
	info( autosaveFields, "VAL" )
}

record( bi, "$(P)$(R)ComputeProjections_RBV" )
{
	field( DTYP, "asynInt32" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_COMPUTE_PROJ" )
	field( ZNAM, "No" )
	field( ONAM, "Yes" )
	field( ZSV,  "NO_ALARM" )
	field( OSV,  "MINOR" )
	field( SCAN, "I/O Intr" )
}

###################################################################
#  These records control whether BLD statistics are sent
###################################################################
record( bo, "$(P)$(R)SendBld" )
{
	field( PINI, "YES" )
	field( DTYP, "asynInt32" )
	field( OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_BLD_SEND" )
	field( VAL,  "0" )
	field( ZNAM, "No" )
	field( ONAM, "Yes" )
	info( autosaveFields, "VAL" )
}

record( bi, "$(P)$(R)SendBld_RBV" )
{
	field( DTYP, "asynInt32" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_BLD_SEND" )
	field( ZNAM, "No" )
	field( ONAM, "Yes" )
	field( ZSV,  "NO_ALARM" )
	field( OSV,  "MINOR" )
	field( SCAN, "I/O Intr" )
}

###################################################################
#  These records are updated with BLD status values
###################################################################
record( stringin, "$(P)$(R)BldIpAddr_RBV" )
{
	field( INP,  "$(BLD_IP)" )
}
record( longin, "$(P)$(R)BldCount_RBV" )
{
	field( DTYP, "asynInt32" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_BLD_COUNT" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
}

###################################################################
#  These records are updated with BLD output values
###################################################################
record( waveform, "$(P)$(R)HorizProj" )
{
	field( DTYP, "asynInt32ArrayIn" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_HORIZ_PROJ" )
	field( FTVL, "LONG" )
	field( NELM, "$(XSIZE)" )
	field( TSE,  "-2" )
	field( SCAN, "I/O Intr" )
	info( autosaveFields, "DESC" )
}

record( ao, "$(P)$(R)DarkLevel" )
{
    field( PINI, "YES" )
    field( DTYP, "asynFloat64" )
    field( OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_DARK_LEVEL" )
    field( VAL,  "100.0" )
    field( PREC, "3" )
	info( autosaveFields, "VAL DESC HIGH HIHI HHSV HSV LOLO LOW LLSV LSV PREC" )
}
record( ai, "$(P)$(R)DarkLevel_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_DARK_LEVEL" )
	field( SCAN, "I/O Intr" )
    field( PREC, "3" )
	info( autosaveFields, "DESC HIGH HIHI HHSV HSV LOLO LOW LLSV LSV PREC TSE" )
}

record( ao, "$(P)$(R)HorizBaseline" )
{
    field( PINI, "YES" )
    field( DTYP, "asynFloat64" )
    field( OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_HORIZ_BASELINE" )
    field( VAL,  "1" )
    field( PREC, "3" )
	info( autosaveFields, "VAL DESC HIGH HIHI HHSV HSV LOLO LOW LLSV LSV PREC" )
}
record( ai, "$(P)$(R)HorizBaseline_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_HORIZ_BASELINE" )
	field( SCAN, "I/O Intr" )
    field( PREC, "3" )
	info( autosaveFields, "DESC HIGH HIHI HHSV HSV LOLO LOW LLSV LSV PREC TSE" )
}
record( ai, "$(P)$(R)AdjCtrMass_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_ADJ_CTR_MASS" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
    field( PREC, "3" )
	info( autosaveFields, "DESC HIGH HIHI HHSV HSV LOLO LOW LLSV LSV PREC" )
}
record( ai, "$(P)$(R)RawCtrMass_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_RAW_CTR_MASS" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
    field( PREC, "3" )
	info( autosaveFields, "DESC HIGH HIHI HHSV HSV LOLO LOW LLSV LSV PREC" )
}
record( ai, "$(P)$(R)AdjIntegral_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_ADJ_INTEGRAL" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
    field( PREC, "3" )
	info( autosaveFields, "DESC HIGH HIHI HHSV HSV LOLO LOW LLSV LSV PREC" )
}
record( ai, "$(P)$(R)RawIntegral_RBV" )
{
	field( DTYP, "asynFloat64" )
	field( INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))SPEC_RAW_INTEGRAL" )
	field( SCAN, "I/O Intr" )
	field( TSE,  "-2" )
    field( PREC, "3" )
	info( autosaveFields, "DESC HIGH HIHI HHSV HSV LOLO LOW LLSV LSV PREC" )
}

